.logo {
  width: 90px;
  height: 90px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

.logo-line {
  display: flex;
  align-items: center;
}

.logo-text {
  font-weight: 700;
  font-size: 40px;
}

.add-property-btn {
  background: green;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
}
.navbar-list {
  display: flex;
  gap: 25px;
}
